.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__content {
  background-color: var(--color-50);
  padding: 32px;
  border-radius: 3px;
  width: 800px;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.modal__header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}

.modal__main {
  overflow: auto;
}

.modal__result {
  width: 100%;
  min-width: 500px;
  margin-block: 16px;
}

.modal__resume {
  display: flex;
  justify-content: space-between;
}

.modal-resume__resume {
  margin-block: 8px;
}
