:host {
  height: 100%;
  display: grid;
}

.main {
  background-color: var(--color-50);
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
  align-content: start;
  padding-block: 16px;
}

.main__card {
  display: flex;
}

.main__loading {
  display: grid;
  place-content: center;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .main {
    margin-inline: 16px;
  }
}
